<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/vertical}">

<head>
    <th:block layout:fragment="title-meta">
        <th:block th:replace="~{partials/title-meta :: title-meta('Prévisualisation IA')}" />
    </th:block>
</head>

<body>
<th:block layout:fragment="content">

    <div class="row">
        <div class="col-12">

            <div class="d-flex align-items-sm-center flex-sm-row flex-column my-3">
                <div class="flex-grow-1">
                    <h4 class="fs-xl mb-1">
                        Prévisualisation : <span class="text-primary">[[${titre}]]</span>
                    </h4>
                    <p class="text-muted mb-0">
                        Type généré : <strong>[[${aiType}]]</strong>
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="text-center">
                        <div class="btn-group text-nowrap">
                            <button id="prev" class="btn btn-dark">
                                <i class="ti ti-arrow-left"></i>
                                <span class="d-none d-sm-inline ms-2">Previous</span>
                            </button>

                            <button id="next" class="btn btn-dark">
                                <i class="ti ti-arrow-right"></i>
                                <span class="d-none d-sm-inline ms-2">Next</span>
                            </button>

                            <button id="zoomin" class="btn btn-dark">
                                <i class="ti ti-zoom-in"></i>
                                <span class="d-none d-sm-inline ms-2">Zoom In</span>
                            </button>

                            <button id="zoomout" class="btn btn-dark">
                                <i class="ti ti-zoom-out"></i>
                                <span class="d-none d-sm-inline ms-2">Zoom Out</span>
                            </button>

                            <button id="zoomfit" class="btn btn-dark rounded-end-3">
                                100%
                            </button>

                            <input type="text" class="form-control rounded-end-0 ms-1"
                                   id="page_num" style="width: 50px;">
                            <span class="input-group-text rounded-start-0 border-start-0"
                                  id="page_count">/ 00</span>
                        </div>
                    </div>

                    <div class="text-center overflow-auto mt-3">
                        <canvas id="the-canvas" class="pdfcanvas border rounded-3"></canvas>
                    </div>

                    <div class="d-flex justify-content-end gap-2 mt-4">
                        <form th:action="@{/enseignant/documents/preview/cancel}" method="post">
                            <button type="submit" class="btn btn-light">Annuler</button>
                        </form>

                        <form th:action="@{/enseignant/documents/preview/confirm}" method="post">
                            <button type="submit" class="btn btn-primary">Confirmer et enregistrer</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

</th:block>

<th:block layout:fragment="javascripts">
    <script th:inline="javascript">
        window.pdfUrl = /*[[${pdfUrl}]]*/ '';
    </script>

    <script src="/plugins/pdfjs/pdf.min.js"></script>
    <script src="/js/pages/misc-pdf-viewer.js"></script>
</th:block>

</body>
</html>