<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vertical}">

<head>
    <th:block layout:fragment="title-meta">
        <th:block th:replace="~{partials/title-meta :: title-meta('Polar Area Apexcharts')}" />
    </th:block>

</head>

<body>
    <th:block layout:fragment="content">

        <div th:replace="~{partials/page-title :: page-title(
                 'Charts',
                 'Ploar Area Apexchart',
                )}">
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Polar Area Chart</h4>
                    </div>
                    <div class="card-body">
                        <div dir="ltr">
                            <div id="basic-polar-area" class="apex-charts"></div>
                        </div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Monochrome Polar Area</h4>
                    </div>
                    <div class="card-body">
                        <div dir="ltr">
                            <div id="monochrome-polar-area" class="apex-charts"></div>
                        </div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->

    </th:block>

    <th:block layout:fragment="javascripts">
        <!-- Apex Chart js -->
        <script src="/plugins/apexcharts/apexcharts.min.js"></script>

        <!-- Apex Chart Polar Area Demo js -->
        <script src="/js/pages/chart-apex-polar-area.js"></script>
    </th:block>

</body>

</html>